<div class="container-md" *ngIf="showScreen">
  <div class="row">
    <div class="col-md-4">
      <app-user-list-card 
        [(selectedUser)]="selectedUser"
        [(roomId)]="roomId"
        [(messageArray)]="messageArray"
        [(storageArray)]="storageArray"
        [userList]="userList"
        [currentUser]="currentUser"
      >
      </app-user-list-card>
    </div>
    <div class="col-md-8">
      <app-chat-container 
        [selectedUser]="selectedUser" 
        [messageArray]="messageArray"
        [currentUser]="currentUser"
        [roomId]="roomId"
        [storageArray]="storageArray"
      >  
      </app-chat-container>
    </div>
  </div>
</div>

<ng-template #popup let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">
      Login
    </h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <input 
            type="text" 
            placeholder="Enter your phone number"
            class="form-control"
            [(ngModel)]="phone"  
          />
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-primary" (click)="login(d)">Login</button>
  </div>
</ng-template>
